body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.monthsContainer {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

.month {
	display: flex;
	justify-content: center;
	border: 1px solid #ddd;
	margin: 20px;
	box-shadow: 3px 3px 10px #ddd;
}

.emojiListContainer {
	padding:10px;
	width: 750px;
}

.emojiList {
	display: flex;
	padding:20px;
	flex-wrap: wrap;
	font-size: 23px;
}

.emojiList.right {
	justify-content: flex-end;
}

.date {
	width: 100px;
	text-align: center;
	margin: auto 0;
}
