body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.monthsContainer {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-evenly;
	margin-top: 60px;
	margin-bottom: 20px;
}

.footer {
	margin: 400px;
	font-size: 50px;
	display: flex;
	justify-content: center;
}

.header img {
	width: 50px;
	height: 50px;
}

.header img.rounded {
	border-radius: 3px;
}

.month {
	display: flex;
	justify-content: center;
	border: 1px solid #ddd;
	margin: 20px;
	box-shadow: 3px 3px 5px #e6e6e6;
}

.emojiListContainer {
	padding:10px;
	width: 750px;
}

.emojiList {
	display: flex;
	padding:20px;
	flex-wrap: wrap;
	font-size: 23px;
}

.emojiList.right {
	justify-content: flex-end;
}

.date {
	padding:20px;
	width: 80px;
	text-align: center;
}
